{% extends "base.html" %} {% block content %}

<html>
<head>

<style>

    
h3 {text-align: center;}
p {text-align: center;}
div {text-align: center;}

</style>
</head>


<body>

<div class="main">
  <div class="title">
    <h1 style="color:rgb(222, 222, 222);">Chest X-Ray Classifier</h1>
  </div>

  
  
  <div class="panel" style="color:rgb(222, 222, 222);">
      <input id="file-upload" class="hidden" type="file" accept="image/*" />
      <label for="file-upload" id="file-drag" class="upload-box">
          <div id="upload-caption"></div>
          <img id="image-preview" class="hidden" width="0" height="0"/>
        </label>
    </div>
    
    <div style="margin-bottom: 1rem;">
      <input type="button" value="Go" class="button" onclick="submitImage();" />
    </div>


  <div id="image-box">
    
    <img id="image-display" class="hidden" width="250" height="250"/>
    <div id="pred-result" class="hidden" style="color:rgb(222, 222, 222);"></div>
    <svg id="loader" class="hidden" viewBox="0 0 32 32" width="32" height="32">

    </svg>
  </div>
</div>

</body>
</html>

{% endblock %}